* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #c7a24a;
  --color-secondary: #d94a2b;
  --color-dark: #101216;
  --color-brown: #6a4a3c;
  --color-white: #fff;
  --color-black: #000;
  --font-family-base: "Cinzel", serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  width: 15%;
}

.navbar {
  display: flex;
  position: static;
  width: auto;
  height: auto;
  background: none;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-family-base);
  transition: 0.4s ease-out;
}

.nav-link:hover {
  color: var(--color-primary);
  transition: 0.4s ease-in-out;
}
.nav-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

/* Hamburger */

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-black);
}

/* Close button */

.close-menu {
  display: none;
}

/* Overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: none;
  z-index: 9;
}

.hero-section {
  background-color: var(--color-dark);
  padding: 3rem 0;
  text-align: center;
  color: var(--color-white);
}

.hero-content {
  padding: 5rem;
  place-items: center;
}

.hero-image {
  width: 78%;
  margin-bottom: 3rem;
}
.title-text {
  font-family: var(--font-family-base);
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 7rem 0;
}

.description-text {
  font-family: var(--font-family-base);
  color: var(--color-white);
  font-size: 1rem;
  width: 75%;
  line-height: 1.5;
  margin: 2rem 0;
}

/* Cards Title */
.cards-title {
  font-family: var(--font-family-base);
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 5rem 0;
}

/* GRID */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  max-width: 1100px;
  margin: 0 auto;
}

/* CARD */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 180px;
  height: auto;
}

/* Film Name */
.film-name {
  margin: 1rem 0;
  font-family: var(--font-family-base);
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  width: 50%;
}

/* Footer */

.footer {
  color: var(--color-white);
  background-color: var(--color-black);
  text-align: center;
  padding: 1rem;
  margin-top: 5rem;
  font-family: var(--font-family-base);
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -50%;
    height: 100vh;
    width: 50%;
    background: var(--color-white);
    flex-direction: column;
    padding: 2rem 1rem;
    z-index: 10;
    transition: right 0.4s ease;
  }

  .navbar.active {
    right: 0;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  /*Mobile Close button */

  .close-menu {
    font-size: 1.8rem;
    color: var(--color-black);
    display: block;
    cursor: pointer;
  }

  /* Hero */

  .hero-content {
    padding: 1rem;
  }

  .hero-image {
    width: 100%;
    margin-bottom: 3rem;
  }

  .title-text {
    font-size: 2rem;
    margin: 2rem;
  }

  .description-text {
    font-size: 1rem;
    width: 100%;
    margin: 1rem;
  }

  /* Cards */

  .cards-grid {
    grid-template-columns: 1fr;
  }

  .cards-title {
    font-size: 2rem;
    width: 90%;
    justify-self: center;
  }
}
