* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #c7a24a;
  --color-secondary: #d94a2b;
  --color-dark: #101216;
  --color-brown: #6a4a3c;
  --color-white: #fff;
  --color-black: #000;
  --font-family-base: "Cinzel", serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  width: 15%;
}

.navbar {
  display: flex;
  position: static;
  width: auto;
  height: auto;
  background: none;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-family-base);
}

.nav-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

/* Hamburger */

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-black);
}

/* Close button */

.close-menu {
  display: none;
}

/* Overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: none;
  z-index: 9;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -50%;
    height: 100vh;
    width: 50%;
    background: var(--color-white);
    flex-direction: column;
    padding: 2rem 1rem;
    z-index: 10;
    transition: right 0.4s ease;
  }

  .navbar.active {
    right: 0;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  /*Mobile Close button */

  .close-menu {
    font-size: 1.8rem;
    color: var(--color-black);
    display: block;
    cursor: pointer;
  }
}

/* Media */

.main
    {
       background-color: var(--color-dark);
    padding: 6rem 0;
}

.main-title {
    font-size: 3rem;
    color: var(--color-primary);
    margin: 20px 0;
}

p {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.media-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.media-card {
  text-decoration: none;
  color: #fff;
  background: #0d0d0d;
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.media-card:hover {
  transform: scale(1.03);
}

.thumbnail {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  display: block;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: white;
  opacity: 0.8;
}
.media-text {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.4;
}

.media-text i {
  margin-right: 6px;
  color: #d4af37;
}

.footer.footer {
  color: var(--color-black);
  text-align: center;
  padding: 0.5rem ;
  margin-top: 2rem;
  font-family: var(--font-family-base);
}

